{% extends "template.html" %}


{% block content %}

<div class="container" style="padding-top: 2%;">
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="{{ url_for('threat') }}" method="GET">
                <h1>Search</h1>
                <label for="form-select" class="form-label">Threat</label>
                <select class="form-select" name="capec">
                    <option selected>Open this select menu</option>
                    {{ content|safe }}
                </select>
                <div class="mb-3">
                    <label for="builder" class="form-label">Builder</label>
                    <input type="text" name="builder" class="form-control" id="builder">
                </div>
                <div class="mb-3">
                    <label for="model" class="form-label">Model</label>
                    <input type="text" name="model" class="form-control" id="model">
                </div>
                <div class="mb-3">
                    <label for="year" class="form-label">Year</label>
                    <input type="text" name="year" class="form-control" id="year">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock content %}